# Histograms

In [3]:
import warnings
warnings.filterwarnings("ignore", message="The 'warn' parameter of")

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [4]:
top=Table.read_table('top_movies.csv')
top

Title                      | Studio               | Gross     | Gross (Adjusted) | Year
101 Dalmatians             | Disney               | 144880014 | 869280100        | 1961
2001: A Space Odyssey      | MGM                  | 56954992  | 377027700        | 1968
9 to 5                     | Fox                  | 103290500 | 334062200        | 1980
A Star Is Born (1976)      | Warner Bros.         | 80000000  | 326760600        | 1976
Air Force One              | Sony                 | 172956409 | 327752300        | 1997
Airport                    | Universal            | 100489151 | 575168200        | 1970
Aladdin                    | Buena Vista (Disney) | 217350219 | 456248400        | 1992
Alice in Wonderland (2010) | Buena Vista (Disney) | 334191110 | 365718600        | 2010
American Graffiti          | Universal            | 115000000 | 571714300        | 1973
American Sniper            | Warner Bros.         | 350126372 | 374796000        | 2014
... (190 rows omitted)