# Performing a Test

In [2]:
import numpy as np
from datascience import *

import matplotlib
%matplotlib inline

import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
from matplotlib import patches

In [3]:
scores = Table.read_table('scores_by_section.csv')
scores

Section | Midterm
1       | 22
2       | 12
2       | 23
2       | 14
1       | 20
3       | 25
4       | 19
1       | 24
5       | 8
6       | 14
... (349 rows omitted)