# Sampling

In [16]:
import warnings
warnings.filterwarnings("ignore", message="The 'warn' parameter of")

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

**Question 1.** Read in the `top_movies.csv` file and save it to table named `top_movies`, sorted in descending order by the items in the `Gross (Adjusted)` column.

In [17]:
# Question 1

Title                           | Studio       | Gross     | Gross (Adjusted) | Year
Gone with the Wind              | MGM          | 198676459 | 1757788200       | 1939
Star Wars                       | Fox          | 460998007 | 1549640500       | 1977
The Sound of Music              | Fox          | 158671368 | 1239013800       | 1965
E.T.: The Extra-Terrestrial     | Universal    | 435110554 | 1234132700       | 1982
Titanic                         | Paramount    | 658672302 | 1178627900       | 1997
The Ten Commandments            | Paramount    | 65500000  | 1139700000       | 1956
Jaws                            | Universal    | 260000000 | 1114285700       | 1975
Doctor Zhivago                  | MGM          | 111721910 | 1079978500       | 1965
The Exorcist                    | Warner Bros. | 232906145 | 962212800        | 1973
Snow White and the Seven Dwarfs | Disney       | 184925486 | 948300000        | 1937
... (190 rows omitted)

**Question 2.** Add a column named `Row Index` to the begining of the `top_movies` table. The column should contain the index of the row (i.e. the first item in the column should be 0 and each item should increment by 1 until the last item in the column) and the `Gross` and `Gross (Adjusted)` columns should be formatted to show commas.

**Hints:**

- Use the `np.arange` function to make the array for the `Row Index` column.
- Use the `with_column` method to add a column to the `top_movies` table.
- Use the `move_to_start` method to place a column at the beginning of the `top_movies` table.

In [19]:
# Question 2

Row Index | Title                           | Studio       | Gross       | Gross (Adjusted) | Year
0         | Gone with the Wind              | MGM          | 198,676,459 | 1,757,788,200    | 1939
1         | Star Wars                       | Fox          | 460,998,007 | 1,549,640,500    | 1977
2         | The Sound of Music              | Fox          | 158,671,368 | 1,239,013,800    | 1965
3         | E.T.: The Extra-Terrestrial     | Universal    | 435,110,554 | 1,234,132,700    | 1982
4         | Titanic                         | Paramount    | 658,672,302 | 1,178,627,900    | 1997
5         | The Ten Commandments            | Paramount    | 65,500,000  | 1,139,700,000    | 1956
6         | Jaws                            | Universal    | 260,000,000 | 1,114,285,700    | 1975
7         | Doctor Zhivago                  | MGM          | 111,721,910 | 1,079,978,500    | 1965
8         | The Exorcist                    | Warner Bros. | 232,906,145 | 962,212,800      | 1973
9         | Snow White and the Seven Dwarfs | Disney       | 184,925,486 | 948,300,000      | 1937
... (190 rows omitted)

## Deterministic Sample

**Question 3.** Use the `take` method to perform a deterministic sample of the items in rows 3, 5, 7, and 9.

In [20]:
top_movies.take(3,5,7,9)

Row Index | Title                           | Studio    | Gross       | Gross (Adjusted) | Year
3         | E.T.: The Extra-Terrestrial     | Universal | 435,110,554 | 1,234,132,700    | 1982
5         | The Ten Commandments            | Paramount | 65,500,000  | 1,139,700,000    | 1956
7         | Doctor Zhivago                  | MGM       | 111,721,910 | 1,079,978,500    | 1965
9         | Snow White and the Seven Dwarfs | Disney    | 184,925,486 | 948,300,000      | 1937

**Question 4.** Use the `where` method to perform a deterministic sample of the rows that contain "and the" in the movie title.

**Hint:** Look at the list of predicates to find one that will help you choose the rows.

In [21]:
# Question 4

Row Index | Title                                                        | Studio               | Gross       | Gross (Adjusted) | Year
9         | Snow White and the Seven Dwarfs                              | Disney               | 184,925,486 | 948,300,000      | 1937
35        | Butch Cassidy and the Sundance Kid                           | Fox                  | 102,308,889 | 613,853,300      | 1969
69        | Smokey and the Bandit                                        | Universal            | 126,737,428 | 494,446,500      | 1977
71        | Harry Potter and the Sorcerer's Stone                        | Warner Bros.         | 317,575,550 | 486,442,900      | 2001
72        | Lady and the Tramp                                           | Disney               | 93,602,326  | 484,893,500      | 1955
88        | Indiana Jones and the Temple of Doom                         | Paramount            | 179,870,271 | 465,735,500      | 1984
102       | Indiana Jones and the Last Crusade                           | Paramount            | 197,171,806 | 429,923,500      | 1989
111       | Harry Potter and the Deathly Hallows Part 2                  | Warner Bros.         | 381,011,219 | 417,512,200      | 2011
124       | Beauty and the Beast                                         | Buena Vista (Disney) | 218,967,620 | 394,664,300      | 1991
125       | The Chronicles of Narnia: The Lion, the Witch and the Wa ... | Buena Vista (Disney) | 291,710,957 | 393,033,100      | 2005
... (6 rows omitted)

## Probablistic and Deterministic

**Question 5.** Identify are the probablistic and deterministic features of the sample in the code cell below.

In [30]:
start = np.random.choice(np.arange(10))
top_movies.take(np.arange(start, start + 4))

Row Index | Title                           | Studio               | Gross       | Gross (Adjusted) | Year
7         | Doctor Zhivago                  | MGM                  | 111,721,910 | 1,079,978,500    | 1965
8         | The Exorcist                    | Warner Bros.         | 232,906,145 | 962,212,800      | 1973
9         | Snow White and the Seven Dwarfs | Disney               | 184,925,486 | 948,300,000      | 1937
10        | Star Wars: The Force Awakens    | Buena Vista (Disney) | 906,723,418 | 906,723,400      | 2015

## Uniform Random Sample

Run the code cell below multiple times, then answer **Question 6.** and **Question 7.**.

**Question 6.** What is a uniform random sample?

**Question 7.** What do you think it means to sample "with replacement"?

In [36]:
top_movies.sample(5)

Row Index | Title                           | Studio               | Gross       | Gross (Adjusted) | Year
95        | The Hunger Games: Catching Fire | Lionsgate            | 424,668,047 | 444,697,400      | 2013
114       | Shrek the Third                 | Paramount/Dreamworks | 322,719,944 | 408,090,600      | 2007
163       | Saturday Night Fever            | Paramount            | 94,213,184  | 353,261,200      | 1977
61        | The Passion of the Christ       | NM                   | 370,782,930 | 519,432,100      | 2004
190       | The Twilight Saga: Eclipse      | Sum.                 | 300,531,751 | 328,883,800      | 2010

Run the code cell below, then answer **Question 8.**.

**Question 8.** What do you notice about the number of items in the sample? Explain.

In [38]:
top_movies.sample(50).group('Title')

Title                      | count
101 Dalmatians             | 2
2001: A Space Odyssey      | 4
9 to 5                     | 3
A Star Is Born (1976)      | 2
Airport                    | 3
Aladdin                    | 1
American Graffiti          | 2
American Sniper            | 1
An Officer and a Gentleman | 4
Apollo 13                  | 3
... (171 rows omitted)

Run the code cell below, then answer **Question 9.**.

**Question 9.** What do you notice about the number of items in the sample? Explain.

In [39]:
top_movies.sample(500).group('Title')

Title                      | count
101 Dalmatians             | 4
9 to 5                     | 3
A Star Is Born (1976)      | 3
Air Force One              | 2
Airport                    | 5
Aladdin                    | 4
Alice in Wonderland (2010) | 1
American Graffiti          | 1
American Sniper            | 4
An Officer and a Gentleman | 1
... (174 rows omitted)

If we want to specify that the sample does not include an item more than once, then we can set the `with_replacement` argument to `False`.

Run the code cell below multiple times and observe what happens.

In [40]:
top_movies.sample(5, with_replacement = False)

Row Index | Title                                    | Studio               | Gross       | Gross (Adjusted) | Year
48        | Around the World in 80 Days              | UA                   | 42,000,000  | 562,153,800      | 1956
7         | Doctor Zhivago                           | MGM                  | 111,721,910 | 1,079,978,500    | 1965
117       | Transformers                             | Paramount/Dreamworks | 319,246,193 | 403,697,900      | 2007
158       | Guardians of the Galaxy                  | Buena Vista (Disney) | 333,176,600 | 358,244,800      | 2014
168       | Harry Potter and the Prisoner of Azkaban | Warner Bros.         | 249,541,069 | 349,598,600      | 2004